<footer class="">
    <div class="widthContainer footer flexBox flexBox_justifyBetween">
        <div class="flexBox footer__main-content flexBox_justifyBetween w-100 gap-4">
            <div class="footer__contacts-block flexBox flexBox_column gap-24">
                <div class="footer__logo-block flexBox flexBox_alignCenter gap-12">
                    <a href="/" class="footer__logo-wrapper">
                        <img src="/assets/images/logo.webp" alt="">
                    </a>
                    <span class="font-size-12 footer__logo-description">
                        Интернет-магазин аккумуляторов
                        и&nbsp;автотоваров
                    </span>
                </div>

                <button class="color-white bg-active footer__request-call btn w-fitContent-100">Заказать звонок</button>

                <div class="footer__contacts-wrapper" data-open-block-wrapper>
                    <button type="button" class="mb-show footer-col__title" data-open-block-btn>Контакты</button>
                    <div class="footer__contacts flexBox flexBox_column gap-20 mobile__accordionBlock" data-open-block>
                        <div class="footer__contacts-phones flexBox flexBox_column gap-12">
                            <div class="footer__contacts-item flexBox flexBox_column gap-4">
                                <span class="font-size-12 color-secondary">Горячая линия</span>
                                <a href="">+7 965 455 05 58</a>
                            </div>
                            <div class="footer__contacts-item flexBox flexBox_column gap-4">
                                <span class="font-size-12 color-secondary">Корпоративный отдел</span>
                                <a href="">+7 965 455 05 58</a>
                            </div>
                        </div>
                        <div class="footer__contacts-additional flexBox flexBox_column gap-16">
                            <div class="footer__contacts-soc flexBox gap-16">
                                <a href="" class="flexBox flexBox_justifyCenter flexBox_alignCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34"
                                         fill="none">
                                        <path d="M8.88628 29.4057L9.43763 29.6813C11.6857 31.0185 14.2559 31.7174 16.8716 31.7029C24.9241 31.6846 31.5402 25.0528 31.5402 17.0003C31.5402 13.1087 29.9946 9.37152 27.2461 6.61661C24.5013 3.83323 20.7513 2.26465 16.8431 2.26465C8.82747 2.26465 2.23242 8.86062 2.23242 16.8754C2.23242 16.9388 2.23242 17.0012 2.23334 17.0647C2.25749 19.7896 3.01963 22.4571 4.43875 24.7835L4.80629 25.3349L3.33604 30.7565L8.88628 29.4057Z"
                                              fill="url(#paint0_linear_11411_62485)"/>
                                        <path d="M28.8814 4.96237C25.7525 1.77004 21.4602 -0.020888 16.9907 0.000183864H16.9622C7.75748 0.000212651 0.182882 7.57484 0.182882 16.7796C0.182882 16.8228 0.183803 16.865 0.183803 16.9082C0.218473 19.8348 0.976081 22.7074 2.3892 25.2703L0 34L8.90428 31.7027C11.3641 33.0532 14.1295 33.7493 16.9356 33.7243C26.1743 33.6738 33.748 26.056 33.7425 16.8163C33.7645 12.3771 32.014 8.1078 28.8814 4.96237ZM16.9907 30.8757C14.5033 30.8887 12.0598 30.2214 9.92425 28.946L9.3729 28.6703L4.07078 30.0487L5.44914 24.8109L5.08159 24.2595C3.71626 22.055 2.99293 19.5133 2.99289 16.9202C2.99289 9.27299 9.28562 2.98023 16.9328 2.98023C24.58 2.98023 30.8727 9.27299 30.8727 16.9202C30.8727 21.7353 28.3779 26.2214 24.2869 28.7622C22.1232 30.1482 19.6062 30.8819 17.0367 30.8757M25.1139 20.6758L24.1031 20.2163C24.1031 20.2163 22.6328 19.5731 21.7139 19.1136C21.622 19.1136 21.5301 19.0217 21.4382 19.0217C21.2117 19.0273 20.9903 19.0906 20.795 19.2055C20.5993 19.3204 20.7031 19.2974 19.4166 20.7676C19.3293 20.9395 19.1501 21.047 18.9572 21.0433H18.8653C18.7271 21.0202 18.5991 20.9562 18.4977 20.8596L18.0383 20.6758C17.0524 20.2584 16.1497 19.667 15.3734 18.9298C15.1896 18.746 14.914 18.5622 14.7302 18.3785C14.0499 17.7268 13.4624 16.9847 12.9842 16.1731L12.8923 15.9893C12.8125 15.877 12.7505 15.753 12.7086 15.6217C12.6845 15.4626 12.717 15.3 12.8004 15.1623C12.8841 15.0244 13.168 14.7028 13.4437 14.4272C13.7194 14.1515 13.7194 13.9677 13.9031 13.7839C13.9976 13.6527 14.0629 13.5029 14.0946 13.3444C14.1263 13.1859 14.1237 13.0224 14.0869 12.865C13.6587 11.676 13.1679 10.5104 12.6167 9.37314C12.4689 9.14335 12.2387 8.97892 11.9734 8.91368H10.9626C10.7788 8.91368 10.5951 9.00557 10.4113 9.00557L10.3194 9.09745C10.1356 9.18934 9.95183 9.37314 9.76803 9.46503C9.58425 9.55692 9.49237 9.83261 9.30859 10.0164C8.66619 10.8282 8.31075 11.8299 8.29778 12.865C8.30796 13.5931 8.46419 14.3118 8.75721 14.9785L8.84913 15.2542C9.67423 17.0183 10.8282 18.6088 12.2491 19.9406L12.6167 20.3082C12.8841 20.5297 13.1303 20.7759 13.3518 21.0433C15.2558 22.7001 17.5172 23.8947 19.9588 24.5352C20.2344 24.6271 20.602 24.6271 20.8777 24.719H21.7966C22.2769 24.6953 22.7467 24.57 23.175 24.3514C23.4001 24.2494 23.6151 24.1263 23.8182 23.9839L24.002 23.8001C24.1858 23.6163 24.3696 23.5244 24.5533 23.3406C24.7329 23.1806 24.8878 22.9948 25.0128 22.7893C25.1892 22.3776 25.3133 21.9457 25.3804 21.5028V20.8596C25.2978 20.7854 25.2049 20.7234 25.1047 20.6758"
                                              fill="white"/>
                                        <defs>
                                            <linearGradient id="paint0_linear_11411_62485" x1="16.8863" y1="2.26465"
                                                            x2="16.8863" y2="31.7032" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#88FF7D"/>
                                                <stop offset="1" stop-color="#3CC02D"/>
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                </a>
                                <a href="" class="flexBox flexBox_justifyCenter flexBox_alignCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="34" viewBox="0 0 35 34"
                                         fill="none">
                                        <g clip-path="url(#clip0_11411_62488)">
                                            <path d="M17.7498 34.0142C27.1425 34.0142 34.7568 26.3998 34.7568 17.0071C34.7568 7.61433 27.1425 0 17.7498 0C8.357 0 0.742676 7.61433 0.742676 17.0071C0.742676 26.3998 8.357 34.0142 17.7498 34.0142Z"
                                                  fill="url(#paint0_linear_11411_62488)"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M8.43191 16.8226C13.3882 14.6701 16.6876 13.2399 18.3445 12.546C23.06 10.5777 24.0512 10.2378 24.6885 10.2236C24.8301 10.2236 25.1416 10.252 25.354 10.4219C25.524 10.5635 25.5664 10.7476 25.5948 10.8892C25.6231 11.0308 25.6514 11.3282 25.6231 11.5547C25.3682 14.2453 24.2637 20.7734 23.6972 23.7755C23.4565 25.05 22.9892 25.4748 22.536 25.5173C21.5448 25.6022 20.7943 24.8659 19.8455 24.2428C18.3444 23.2657 17.509 22.6568 16.0504 21.6939C14.3653 20.5893 15.4557 19.9804 16.4186 18.9891C16.6735 18.7343 21.0208 14.7692 21.1058 14.4152C21.12 14.3727 21.12 14.2028 21.0208 14.1178C20.9217 14.0329 20.7801 14.0612 20.6668 14.0895C20.511 14.1178 18.132 15.7038 13.5015 18.8334C12.8218 19.3007 12.2128 19.5273 11.6606 19.5131C11.0517 19.4989 9.89047 19.1732 9.01251 18.89C7.95045 18.5502 7.1008 18.3661 7.17161 17.7713C7.21409 17.4598 7.63891 17.1482 8.43191 16.8226Z"
                                                  fill="white"/>
                                        </g>
                                        <defs>
                                            <linearGradient id="paint0_linear_11411_62488" x1="17.7356" y1="0"
                                                            x2="17.7356" y2="33.7451" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#2AABEE"/>
                                                <stop offset="1" stop-color="#229ED9"/>
                                            </linearGradient>
                                            <clipPath id="clip0_11411_62488">
                                                <rect width="34" height="34" fill="white"
                                                      transform="translate(0.742676)"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <nav class="footer-col__company flexBox flexBox_column" data-open-block-wrapper>
                <button class="footer-col__title w-fitContent" data-open-block-btn>Компания</button>
                <ul class="footer-col flexBox flexBox_column mobile__accordionBlock" data-open-block>
                    <li><a href="about-company.html">О компании</a></li>
                    <li><a href="">Карьера</a></li>
                    <li><a href="">Сотрудничество</a></li>
                    <li><a href="">Магазины</a></li>
                    <li><a href="">Сервис</a></li>
                    <li><a href="">Оптовым покупателям</a></li>
                    <li><a href="">Правила продажи</a></li>
                    <li><a href="">Политика конфиденциальности</a></li>
                    <li><a href="">Политика в отношении обработки персональных данных</a></li>
                    <li><a href="">Правила пользования сайтом</a></li>
                </ul>
            </nav>
            <nav class="footer-col__forBuyers flexBox flexBox_column" data-open-block-wrapper>
                <button class="footer-col__title w-fitContent" data-open-block-btn>Покупателям</button>
                <ul class="footer-col flexBox flexBox_column mobile__accordionBlock" data-open-block>
                    <li><a href="">Помощь</a></li>
                    <li><a href="">Бонусная программа</a></li>
                    <li><a href="">Оплата</a></li>
                    <li><a href="">Доставка</a></li>
                    <li><a href="">Обмен и возврат товара</a></li>
                </ul>
            </nav>
        </div>

        <div class="footer__additional-col flexBox flexBox_column flexBox_justifyBetween gap-24">
            <div class="footer__additional-top flexBox flexBox_column gap-16">
                <div>Способы оплаты</div>

                <div class="footer__pay-block flexBox flexBox_alignCenter gap-8">
                    <div class="__pay-mir flexBox"></div>
                    <div class="__pay-group flexBox"></div>
                    <div class="__pay-visa flexBox"></div>
                </div>

                <div class="footer__pay-description">
                    Также вы можете оплатить покупки наличными
                </div>
            </div>

            <div class="call-taxi bg-grey-900 borderRadius-12 flexBox flexBox_alignCenter gap-12">
                <div class="call-taxi__icon"></div>
                <div class="flexBox flexBox_column gap-4">
                    <span class="">Вызвать такси</span>
                    <span class="font-size-12 color-secondary">от 185 руб.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom widthContainer flexBox flexBox_justifyBetween">
        <span class="color-secondary font-size-12">© 2023 СУПЕРСИЛА - сеть магазинов аккумуляторов. Все права защищены</span>
        <div class="flexBox flexBox_alignCenter executor gap-8">
            <span class="font-size-12">Разработка и продвижение</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="86" height="18" viewBox="0 0 125 26" fill="none">
                <g clip-path="url(#clip0_7648_132107)">
                    <path d="M27.4337 2.75195V6.89983H32.1367V8.80345H27.4337V12.9771H25.4238V2.75195H27.4337ZM34.1662 2.75195V4.83592C34.1662 5.97808 33.249 6.89983 32.1367 6.89983V2.75195H34.1662ZM34.1662 10.8674V12.9771H32.1367V8.80345C33.249 8.80345 34.1662 9.7252 34.1662 10.8674Z"
                          fill="#FFFFFF"/>
                    <path d="M43.015 4.65558H37.5509V11.168H35.541V4.65558C35.541 3.6136 36.3606 2.75195 37.3949 2.75195H41.1612C42.1954 2.75195 43.015 3.6136 43.015 4.65558ZM43.015 11.168V4.65558H45.025V11.168C45.025 12.2099 44.2973 12.9771 43.2824 12.9771H39.3479C38.3332 12.9771 37.5509 12.2099 37.5509 11.168H43.015Z"
                          fill="#FFFFFF"/>
                    <path d="M50.2622 2.75195H53.4431C54.458 2.75195 55.2776 3.6136 55.2776 4.65558V12.9771H53.2675V4.65558H48.428C48.428 3.6136 49.2475 2.75195 50.2622 2.75195ZM48.428 12.9771H46.3984V4.65558H48.428V12.9771Z"
                          fill="#FFFFFF"/>
                    <path d="M65.8983 0V0.848488C65.8983 2.05078 64.9421 2.74562 63.7713 2.74562V0H65.8983ZM58.5838 2.74562H63.7713V4.7264H58.7756V11.1681H63.7713V4.7264H65.8983V11.1681C65.8983 12.2101 65.0294 12.9773 64.0147 12.9773H58.718C57.5472 12.9773 56.6484 12.17 56.6484 10.9677V4.7264C56.6484 3.6243 57.5106 2.74562 58.5838 2.74562Z"
                          fill="#FFFFFF"/>
                    <path d="M69.3264 2.75195V4.63554H74.0293V2.75195H69.3264ZM67.2578 12.9771V6.69946C67.2578 5.55729 68.175 4.63554 69.2873 4.63554V12.9771H67.2578Z"
                          fill="#FFFFFF"/>
                    <path d="M75.0344 2.75195H81.5131C82.5278 2.75195 83.3475 3.59356 83.3475 4.63554V11.168H81.3375V8.84353H76.0491V11.168H81.3375V12.9771H75.8172C74.7829 12.9771 74.0195 12.2099 74.0195 11.168V8.84353C74.0195 7.80154 74.8391 6.95995 75.8734 6.95995H81.3375V4.63554H75.0344V2.75195Z"
                          fill="#FFFFFF"/>
                    <path d="M93.274 2.75195V4.63554H86.7171V6.95995H84.707V4.63554C84.707 3.59356 85.5266 2.75195 86.5415 2.75195H93.274ZM86.7171 6.95995H91.7908C92.8055 6.95995 93.6252 7.80154 93.6252 8.84353V11.168C93.6252 12.2099 92.8733 12.9771 91.8584 12.9771H85.0388V11.168H91.6152V8.84353H86.7171V6.95995Z"
                          fill="#FFFFFF"/>
                    <path d="M94.9941 1.14906V0H97.0235V2.74562C95.9112 2.74562 94.9941 2.29122 94.9941 1.14906ZM97.0235 2.74562H101.846C102.919 2.74562 103.893 3.49459 103.893 4.59668V12.9773H101.863V4.59668L97.0235 4.60592V2.74562ZM97.0235 12.9773H94.9941V4.60592H97.0235V12.9773Z"
                          fill="#FFFFFF"/>
                    <path d="M112.736 4.65558H107.272V11.168H105.262V4.65558C105.262 3.6136 106.081 2.75195 107.116 2.75195H110.882C111.916 2.75195 112.736 3.6136 112.736 4.65558ZM112.736 11.168V4.65558H114.746V11.168C114.746 12.2099 113.908 12.9771 112.893 12.9771H109.11C108.095 12.9771 107.272 12.2099 107.272 11.168H112.736Z"
                          fill="#FFFFFF"/>
                    <path d="M116.121 2.75195H118.131V11.168C117.019 11.168 116.121 10.2262 116.121 9.08398V2.75195ZM122.99 2.75195H125V9.08398C125 10.2262 124.102 11.168 122.99 11.168V2.75195ZM122.971 12.9771H118.131V11.168H122.971V12.9771Z"
                          fill="#FFFFFF"/>
                    <path d="M32.8978 17.6032H27.4337V24.1156H25.4238V17.6032C25.4238 16.5613 26.2055 15.7676 27.2398 15.7676H31.0229C32.0572 15.7676 32.8978 16.5613 32.8978 17.6032ZM32.8978 24.1156V17.6032H34.9078V24.1156C34.9078 25.1576 34.0882 25.9992 33.0734 25.9992H29.2682C28.2533 25.9992 27.4337 25.1576 27.4337 24.1156H32.8978Z"
                          fill="#FFFFFF"/>
                    <path d="M40.1035 15.7676H43.2814C44.2962 15.7676 45.1622 16.5613 45.1622 17.6032V25.9992H43.1523V17.6032H38.3127C38.3127 16.5613 39.0888 15.7676 40.1035 15.7676ZM38.3127 25.9992H36.2832V17.6032H38.3127V25.9992Z"
                          fill="#FFFFFF"/>
                    <path d="M48.5433 25.9991H46.5332V15.752H48.5433V25.9991Z" fill="#FFFFFF"/>
                    <path d="M49.9023 17.3149V15.752H51.9124V19.3789C50.8001 19.3789 49.9023 18.4571 49.9023 17.3149ZM51.9124 25.9991H49.9023V19.8597H51.9124V25.9991Z"
                          fill="#FFFFFF"/>
                    <path d="M57.2027 15.7676H60.3807C61.3954 15.7676 62.1485 16.5613 62.1485 17.6032V25.9992H60.1386V17.6032H55.2991C55.2991 16.5613 56.1879 15.7676 57.2027 15.7676ZM55.2991 25.9992H53.2695V17.6032H55.2991V25.9992Z"
                          fill="#FFFFFF"/>
                    <path d="M65.3757 15.7676H70.8236C71.8383 15.7676 72.6327 16.5412 72.6327 17.6032V20.148H72.6132C72.5352 21.1099 71.7545 21.8514 70.7984 21.8514H65.5491V19.9478H70.6228V17.6032H65.5491V19.9478C64.4366 19.9478 63.5195 19.026 63.5195 17.8838V17.6032H63.539C63.539 16.5412 64.3609 15.7676 65.3757 15.7676ZM63.5195 23.9352V23.9153C63.5195 22.773 64.4366 21.8514 65.5491 21.8514V24.1156H72.2619V25.9992H65.5491C64.1439 25.9992 63.5195 25.0774 63.5195 23.9352Z"
                          fill="#FFFFFF"/>
                    <path d="M6.02714 2.74609H0.164908C0.0738316 2.74609 0 2.82168 0 2.91492V19.5386C0 19.6318 0.0738318 19.7074 0.164908 19.7074H6.02714C6.11822 19.7074 6.19205 19.6318 6.19205 19.5386V2.91492C6.19205 2.82168 6.11822 2.74609 6.02714 2.74609Z"
                          fill="#FFFFFF"/>
                    <path d="M22.7001 19.7109H6.19141V25.9999H22.7001V19.7109Z" fill="#FFFFFF"/>
                </g>
                <defs>
                    <clipPath id="clip0_7648_132107">
                        <rect width="125" height="26" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>
</footer>